*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/servers/Controller/.nb-gradle/
/servers/Controller/build/
/servers/Controller/nbproject/private/
/servers/Controller/dist/
/servers/PicturesHolder/.nb-gradle/
/servers/PicturesHolder/build/
/servers/build/